/* BODY BUILDING LIKE ARNOLD! */ 

body {
	margin: 0;
}


/* STYLE THAT HEADER! */

header {
	background-color: #35D8E6;
	margin: 0;
	width: 100%;
}

#gameHeader {
	text-align: center;
	color: #6EFBFC;
}

h1 {
	letter-spacing: 5px;
}

h2 {
	letter-spacing: 10px;
	text-align: center;
}

#button {
	margin-left: auto;
	margin-right: auto;
}

/* POSITION THOSE DIVS! */

#container {
	width: 900px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}


#crystals {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}



.crystalImage{
	width: 215px;
	padding: 5px;
	margin: 0;
}